#latest{
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
}
#latest .header{
    padding: 50px 0;
 }
#latest .header:after{
    content: "";
    display: table;
    clear: both;
}

#latest .header h1{
    color: #868AF5;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    max-width: 400px;
    width: 100%;
    display: inline-block;
    float: left;    
}
#latest .header .directions{
    float: right;
    display: inline-block;
    position: relative;
    top: 25px;
}
#latest .header .directions .move-left {
    float: left;
    padding: 15px 64px;
    font-size: 3rem;
    background:#5F65F1;
    color: white;
    border: 1px solid white; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#latest .header .directions .move-right {
    float: right;
    padding: 15px 64px;
    font-size: 3rem;
    color: #E7E7E7;
    border: 1px solid white; 
    background: white;
    border: 1px solid #F4F4F4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#latest .body{
    padding: 100px 0;
}
#latest .body:after{
    content: "";
    display: table;
    clear: both;
}
#latest .body .column{
    width: 33.33%;
    float: left;
    padding: 0 15px;
    text-align: center;
}
#latest .body .column:nth-child(1) .bg-square{
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background: rgb(5,26,28); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(5,26,28,1) 0%, rgba(50,26,137,1) 52%, rgba(204,110,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(5,26,28,1) 0%,rgba(50,26,137,1) 52%,rgba(204,110,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(5,26,28,1) 0%,rgba(50,26,137,1) 52%,rgba(204,110,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}   
#latest .body .column:nth-child(2) .bg-square{
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background: rgb(191,186,38); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(191,186,38,1) 0%, rgba(244,105,46,1) 43%, rgba(204,110,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(191,186,38,1) 0%,rgba(244,105,46,1) 43%,rgba(204,110,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(191,186,38,1) 0%,rgba(244,105,46,1) 43%,rgba(204,110,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
} 
#latest .body .column:nth-child(3) .bg-square{
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background: rgb(5,26,28); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(5,26,28,1) 0%, rgba(58,31,9,1) 53%, rgba(86,46,55,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(5,26,28,1) 0%,rgba(58,31,9,1) 53%,rgba(86,46,55,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(5,26,28,1) 0%,rgba(58,31,9,1) 53%,rgba(86,46,55,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}   
#latest .body .column .bg-square img{
    width: 80%;
    position: relative;
    top: -45px;
    
}
#latest .body .column .bg-square .cart{
    width: 80px;
    height: 80px;
    border: 10px solid white;
    font-size: 3rem;
    border-radius: 50%;
    position: absolute;
    top: -36px;
    right: -50px;
    background: rgb(163,37,188); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(163,37,188,1) 0%, rgba(32,124,202,1) 15%, rgba(31,182,198,1) 15%, rgba(151,28,175,1) 34%, rgba(244,105,46,1) 52%, rgba(214,35,224,1) 69%, rgba(42,29,183,1) 85%, rgba(204,110,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(163,37,188,1) 0%,rgba(32,124,202,1) 15%,rgba(31,182,198,1) 15%,rgba(151,28,175,1) 34%,rgba(244,105,46,1) 52%,rgba(214,35,224,1) 69%,rgba(42,29,183,1) 85%,rgba(204,110,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(163,37,188,1) 0%,rgba(32,124,202,1) 15%,rgba(31,182,198,1) 15%,rgba(151,28,175,1) 34%,rgba(244,105,46,1) 52%,rgba(214,35,224,1) 69%,rgba(42,29,183,1) 85%,rgba(204,110,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column:nth-child(1) .bg-square .cart{
    background: rgb(219,165,233); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(219,165,233,1) 0%, rgba(201,197,249,1) 0%, rgba(239,149,159,1) 50%, rgba(240,168,183,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(219,165,233,1) 0%,rgba(201,197,249,1) 0%,rgba(239,149,159,1) 50%,rgba(240,168,183,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(219,165,233,1) 0%,rgba(201,197,249,1) 0%,rgba(239,149,159,1) 50%,rgba(240,168,183,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column:nth-child(2) .bg-square .cart{
    background: rgb(219,165,233); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(219,165,233,1) 0%, rgba(201,197,249,1) 0%, rgba(151,83,211,1) 28%, rgba(199,141,233,1) 60%, rgba(201,137,225,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(219,165,233,1) 0%,rgba(201,197,249,1) 0%,rgba(151,83,211,1) 28%,rgba(199,141,233,1) 60%,rgba(201,137,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(219,165,233,1) 0%,rgba(201,197,249,1) 0%,rgba(151,83,211,1) 28%,rgba(199,141,233,1) 60%,rgba(201,137,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column:nth-child(3) .bg-square .cart{
    background: rgb(219,165,233); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(219,165,233,1) 0%, rgba(207,145,175,1) 0%, rgba(211,147,164,1) 28%, rgba(170,191,234,1) 60%, rgba(252,167,60,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(219,165,233,1) 0%,rgba(207,145,175,1) 0%,rgba(211,147,164,1) 28%,rgba(170,191,234,1) 60%,rgba(252,167,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(219,165,233,1) 0%,rgba(207,145,175,1) 0%,rgba(211,147,164,1) 28%,rgba(170,191,234,1) 60%,rgba(252,167,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column .bg-square .cart .fas{
    color: white;
    font-size: 1.3rem;
    position: relative;
    top: -4px;
    right: 1px;
}
#latest .body .column:nth-child(1) .line{
   width: 20%;
   margin: 50px auto;
   display: inline-block;
   height: 2px;
   background: #F5A248;
}
#latest .body .column:nth-child(2) .line{
    width: 20%;
    margin: 50px auto;
    display: inline-block;
    height: 2px;
    background: #7075F3;
 }
 #latest .body .column:nth-child(3) .line{
    width: 20%;
    margin: 50px auto;
    display: inline-block;
    height: 2px;
    background: #BEEEEA;
 }
#latest .body .column:nth-child(1) .price{   
    color: #F7B771;
    background: white;
    font-size: 2rem;
    font-weight: 700;
 }
 #latest .body .column:nth-child(2) .price{   
    color: #7075F3;
    font-size: 2rem;
    font-weight: 700;
 }
 #latest .body .column:nth-child(3) .price{   
    color: #BEEEEA;
    font-size: 2rem;
    font-weight: 700;
 }
 #latest .footer{
    text-align: center;
    position: relative;
 }
 #latest .footer img{
 
     -webkit-filter: grayscale(100%);
     filter: grayscale(100%) invert(100%);
     transform: rotate(20deg);
     opacity: .1;
     width: 35%;
     position: absolute;
     z-index: 1;
     top:-5px;
     right: 30%;
} 
 #latest .footer .info-box{
    z-index: 2;
    position: relative;
    padding: 150px 0;
}    
#latest .footer .info-box h1{
   color: #6066f2;
   padding: 40px;
   font-family: 'Poppins', sans-serif;
   font-size: 4rem;
   font-weight: 700;
   margin-bottom: 45px;
} 
#latest .footer .info-box form{
   vertical-align: top;
   display: inline-block;
   margin: 0 auto;
 } 
#latest .footer .info-box .input-area{
    background:white;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
    position: relative;
    top: -20px;
    float: left;
}
#latest .footer .info-box .input-area .far{
    font-size: 1rem;
    position: relative;
    top: 16px;    
    margin-left: 10px;
    color:#d5e2ea;
}
#latest .footer .info-box .input-area:nth-child(2) .fas{
    font-size: 1.5rem;
    position: relative;
    top: 3px;    
    margin-left: 10px;
    color: #d5e2ea;
}
#latest .footer .info-box .input-area:nth-child(1){
    height: 80px;
    margin-right: 40px;
}
#latest .footer .info-box .input-area input{
    background: white;
    border: none  10px;
    padding: 10px;
    width: 230px;
}

#latest .footer .info-box .input-area ::placeholder{ /*When styling placeholder you use the ::placeholder double icon one*/
    color: #d5e2ea;
    transition: all .1s ease-in-out;
}
#latest .footer .info-box .input-area:nth-child(1) input{
   position: relative;
   top: 13px;
}
#latest .footer .info-box .input-area button{
   border: 0px solid;
   padding: 20px 50px;
   background: #6066F2;
   color: white;
   border-radius: 50px;
   font-size: 1rem;
   text-transform: uppercase;
}

/*LAPTOPS/DESKTOPS*/
@media only screen and (max-width: 1215px) {
   
}
/*TABLET DEVICES*/
@media only screen and (max-width: 1023px) {
    #latest .header h1{
        font-size: 3.5rem;
        text-align: center;
    }
    #latest .header .directions {
        top: 18px;
    }
    #latest .body .column {
        width: 50%;
        margin-bottom: 150px;
    }
    #latest .footer img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%) invert(100%);
        transform: rotate(20deg);
        opacity: .1;
        width: 50%;
        position: absolute;
        z-index: 1;
        top: -30px;
        right: 30%;
    }
    #latest .footer .info-box .input-area .fas{
        font-size: 1.5rem;
        position: relative;
        top: 2px;    
        margin-left: 10px;
        color: #d5e2ea;
    }
    #latest .footer .info-box .input-area input[type="email"]{
        background: white;
        border: none  10px;
        padding: 10px;
        width: 190px;
    }
    #latest .footer .info-box .input-area button{
       border: 0px solid;
       padding: 20px 50px;
       background: #6066F2;
       color: white;
       border-radius: 50px;
       font-size: 1rem;
       text-transform: uppercase;
    }
    
    #latest .footer .info-box .input-area:nth-child(1) {
        margin-right: 0;
        width: 50%;
        margin-bottom: 50px;
    }
    #latest .footer .info-box .input-area input {
        margin-right: 0;
        width: 80%;

    }
    #latest .footer .info-box .input-area:nth-child(2) {
        margin-right: 0;
        width: 63%;
    }
}
/*MOBILE DEVICES */
@media only screen and (max-width: 767px) {
    #latest .header {
       text-align: center;
    }
    #latest .header h1{
        font-size: 3rem;
        text-align: center;
        width: 100%;
        max-width: none;
    }
    #latest .header .directions {
        float: none;
        display: inline-block;
        position: static;
        top: 0;
        margin: 50px auto;
    }
    #latest .body .column {
        width: 100%;
        margin-bottom: 150px;
    }
    #latest .footer .info-box .input-area .fas{
        font-size: 1.5rem;
        position: relative;
        top: 2px;    
        margin-left: 10px;
        color: #d5e2ea;
    }
    #latest .footer .info-box .input-area input[type="email"]{
        background: white;
        border: none  10px;
        padding: 10px;
        width: 190px;
    }
    #latest .footer .info-box .input-area button{
       border: 0px solid;
       padding: 20px 50px;
       background: #6066F2;
       color: white;
       border-radius: 50px;
       font-size: 1rem;
       text-transform: uppercase;
    }
    #latest .footer .info-box .input-area:nth-child(1) {
        margin-right: 0;
        width: 50%;
        margin-bottom: 50px;
    }
    #latest .footer .info-box .input-area:nth-child(2) {
        margin-right: 0;
        width: 90%;
    }
}
